* {
  text-align: center;
  box-sizing: border-box;
  color: white;
}

html, body{
  width: 100%;
  height:100%;
  scroll-behavior: smooth
}

body{
    background: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #c213e1);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container{
display: grid;
justify-content: center;
}


.navBar{
/* grid-column: 1/3; */
display: grid;
grid-template-columns: 1fr 2fr 1fr;
/* justify-content: center; */
align-items: center;
margin-bottom: 1rem;
margin-top: 1rem;
}

.bm{
  font-size: 1.8rem;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.navBarItems{
  display: flex;
  list-style-type: none;
  gap:3rem;
  justify-content: center;
  font-size: 1.5rem;

}
 

.eachNav{
  padding: 0.8rem 1.5rem;
  background:
    linear-gradient(currentColor 0 0) top,
    linear-gradient(currentColor 0 0) left,
    linear-gradient(currentColor 0 0) bottom,
    linear-gradient(currentColor 0 0) right;
  background-size: var(--d, 0) 1.5px, 1.5px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
  
}
.eachNav:hover {
  --d: 100%;
}

.contentContainer{
display: grid;
grid-template-columns: 1fr 1fr;
font-size: 1.5rem;
}

/******* Hero/Content Section********/

.content1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.content2{
  display: flex;
  justify-content: flex-end;

}

.heroSiteImg{
margin-top: 5rem;
width:34rem;
border-radius: 10px 100px;
overflow: hidden;
opacity: 0.9;
box-shadow: rgba(208, 27, 27, 0.486) 0px 8px 24px;
}

#heroName{
font-size: 3rem;
color:gold;
}

.contactMeHero{
  width: 10rem;
font-size: 1.2rem;
border-radius: 0.5rem;
color:gold ;
padding: 0.6rem;
background-color: black;
border: 3px solid gold;
cursor: pointer;
box-shadow: inset 0 0 0 0 grey;
/* box-shadow: inset 0px 5px 15px 0px rgba(0, 0, 0, 0.35); */
transition: ease-out 0.5s;
}

.contactMeHero:hover{
  box-shadow: inset 10rem 0 0 0 white;
  border: 3px solid black;
  color: black;
  font-weight: bold;
  /* box-shadow:inset 100% 5px 15px 0px rgba(0, 0, 0, 0.35); */
}


/******* About Section********/
.aboutSquare{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

#aboutText{
  color:white;
  font-size: 3.5rem;
}

.square{
z-index: -1;
  width: 10rem;
  height: 10rem;
  position: absolute;
  fill:orange;
  opacity: 0.3;
}

.typed{
  margin-top: 2.5rem;
}

.typedAbout{
  font-size: 2rem;
  font-family: 'Mv Boli',sans-serif;
}

#aboutInfo{
  text-align: center;
  font-size: 1.75rem;
  display: flex;
  max-width:fit-content;

}

/**** Tech Stack ****/
 
.skillsCircleTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.faCircle{
z-index: -1;
  width: 10rem;
  height: 10rem;
  position: absolute;
  fill:lightblue;
  opacity: 0.3;
}

#techStackText{
  color:white;
  font-size: 3.5rem;
}

.totalSkills{
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;

}

.skills{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 4rem;
}

.eachSkill{
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  padding-top: 2.5rem; 
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 1px 3px #363036;
  background-color:#363036;
  }
  
  .cardSkill{
  height: 5rem;
  margin: auto;
  background-color:#363036;
  }

/******* Portfolio Section********/
.portfolio{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

#portfolioText{
  color:white;
  font-size: 3.5rem;
}

.triangle{
z-index: -1;
  width: 11rem;
  height: 11rem;
  position: absolute;
  fill:lightgreen;
  opacity: 0.3;
}

.eachProject{
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 8rem;
}

#portfolioBoxes{
  position: relative;
  display: flex;
justify-content: center;
/* border: 5px solid rgba(0, 0, 0, 0.563); */
box-shadow: 5px 5px 15px #363036;
border-radius: 10px;
background-color: white;
padding: 0.6rem;
width: 20rem;
height:18rem;
}

.portfolioBoxesTitle{
  position:absolute;
background-color: rgba(255, 0, 0, 0.532);
color:white;
font-weight: bold;
top:8rem;
left:4.5rem;
right:4.5rem;
bottom: 8rem;
padding: 0.3rem;
transition: ease-out 1s;
}

.portfolioBoxesTitleClear{
background-color: rgba(255, 0, 0, 0);
color:rgba(255, 255, 255, 0);
}

.portfolioImages{
  height: 100%;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.portfolioImages:hover {
transform: scale(2);
border-radius: 10px;
}


/* Contact Me Section */

.skillsEnvelopeTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.envelope{
  z-index: -1;
    width: 11rem;
    height: 11rem;
    position: absolute;
    fill: lightyellow;
    opacity: 0.3;
  }

#contactMeText{
  color:white;
  font-size: 3.5rem;  
}

form{
  background-color: rgba(166, 157, 157, 0.559);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 90%;
  padding: 3rem;
  margin-bottom: 5rem;
  margin-top: 2.5rem; 

}

.footer{
  display: grid;
  grid-template-columns:1fr 1fr;
  border-radius: 10px;
}

.eachContactBoxName{
  padding: 0.5rem;
  grid-column: 1/2;
}

.eachContactBoxEmail{
  padding: 0.5rem;
  grid-column: 2/3;
}

.eachContactBoxSubject{
  padding: 0.5rem;
  grid-column: 1/3;
}

.eachContactBoxText{
  padding: 0.5rem;
  grid-column: 1/3;
}

input{
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: inherit;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 0.5rem;
}

.InputName{
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: black;
}

.InputEmail{
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: black;
}

.InputSubject{
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: black;
}


textarea{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  text-align: left;
  min-height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;
  outline: none;
  margin-top: 0.5rem;
}



/* Form Errors */

.formErrors{
margin: 0;
font-size: 1.2rem;
color: rgb(0, 0, 0);
font-weight: bold;
text-align: left;
height: 1.5rem;
}



/* SendButton section */

.sendBtn{
  width: 10rem;
font-size: 1.2rem;
border-radius: 0.5rem;
color:black ;
padding: 0.6rem 0.5rem;
background-color: white;
border: 3px solid black;
cursor: pointer;
box-shadow: inset 0 0 0 0 grey;
transition: ease-out 0.5s;
font-weight: bold;
}

.sendBtn:hover{
  box-shadow: inset 10rem 0 0 0 black;
  border: 3px solid gold;
  color: gold;
  font-weight: bold;
}
